<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Total de votos - Zonas Eleitorais</h4>
                        <p class="category">Municipio de Olinda</p>
                    </div>
                    <div class="content">
                        <div  ac-chart="'line'" ac-data="dataLine" ac-config="dataLine" class="chartLine">
                        </div>
                        <div class="footer">
                            <div class="legend">
                                 <i class="fa fa-circle text-warning"></i> Prof. Lupércio
                                 <i class="fa fa-circle text-danger"></i> Antônio Campos
                                 <i class="fa fa-circle text-primary"></i> Luciana Santos
                                 <i class="fa fa-circle text-info"></i> Izabel Urquiza
                                 <i class="fa fa-circle text-success"></i> Teresa Leitão
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
