doctype html
html(lang="pt-br")
  head
    title= title
    link(rel='stylesheet', href='/build/css/app.css')
  body
    h1 teste
    nav(class="nav-wrapper")
      a(href="#", class="brand-logo") Inicio
    block content
